@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
}
header section {
  width: 88%;
  height: 77px;
  margin: 0px auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section nav ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 22px;
  padding: 0px;
}
header section nav ul li {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
}
header section nav ul li a {
  color: #303131;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}
.active {
  color: #5c6b7a;
}
header section aside a {
  display: inline-block;
  margin-top: 20px;
  color: #303131;
  font-size: 26px;
  font-family: "Cinzel", serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
main {
  width: 100%;
}
.firstmain section {
  width: 88%;
  height: 900px;
  margin: 65px auto 35px;
  background-image: url("https://static.wixstatic.com/media/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.jpg/v1/fill/w_1665,h_900,al_c,q_85,usm_0.66_1.00_0.01/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.firstmain section .overlay {
  position: absolute;
  top: 0;
  background-color: #273a4e49;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstmain section .overlay div h1 {
  font-size: 70px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family: "Cinzel", serif;
  margin: 0px;
}
.firstmain section .overlay div p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0px;
}
.firstmain section .overlay div button {
  margin-top: 40px;
  border: 1px solid white;
  transition: 0.6s;
  width: 142px;
  height: 40px;
  color: white;
  background-color: transparent;
}
.firstmain section .overlay div button:hover {
  background-color: #273a4e;
  transition: 0.5;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.firstmain section .overlay div .going-center {
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  height: 112px;
  background-color: white;
}
footer section {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
footer section ul {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
footer section ul li {
  display: inline-block;
}
footer section ul li a {
  text-decoration: none;
  color: black;
}
footer section p {
  text-align: center;
  font-size: 16px;
  color: black;
  margin: 0px 0px 50px;
}
footer section div article {
  width: 100%;
  display: flex;
  justify-content: center;
}
.chat {
  position: fixed;
  right: 23px;
  bottom: 35px;
  width: 64px;
  height: 64px;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.secondmain {
  width: 88%;
  height: 1000px;
  margin: 0px auto;
}
.secondmain .afterheader {
  width: 100%;
  height: 90px;
  margin-top: 110px;
}
.secondmain .afterheader h1 {
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 40px;
  font-weight: 300;
  font-family: "Cinzel", serif;
  color: #303131;
}
.secondmain .threeimgs {
  width: 100%;
  height: 869px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
  margin: 0px;
}
.secondmain .threeimgs .first {
  width: 100%;
  height: 869px;
  background-image: url("https://static.wixstatic.com/media/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.jpg/v1/fill/w_396,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.secondmain .threeimgs .first div {
  width: 100%;
  height: 300px;
  margin-top: 88px;
  text-align: center;
}
.secondmain .threeimgs .first div h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 25px;
  font-family: "Cinzel", serif;
  color: #ffffff;
}
.secondmain .threeimgs .first div button {
  border: 1px solid white;
  width: 110px;
  height: 40px;
  color: white;
  background-color: transparent;
}
.secondmain .threeimgs .first div button:hover {
  background-color: #273a4e;
  transition: 0.6s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.secondmain .threeimgs .second {
  width: 100%;
  height: 869px;
  background-image: url("https://static.wixstatic.com/media/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.jpg/v1/fill/w_385,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.secondmain .threeimgs .second div {
  width: 100%;
  height: 300px;
  margin-top: 88px;
  text-align: center;
}
.secondmain .threeimgs .second div h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 25px;
  font-family: "Cinzel", serif;
  color: #ffffff;
}
.secondmain .threeimgs .second div button {
  border: 1px solid white;
  width: 110px;
  height: 40px;
  color: white;
  background-color: transparent;
}
.secondmain .threeimgs .second div button:hover {
  background-color: #273a4e;
  transition: 0.6s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.secondmain .threeimgs .third {
  width: 100%;
  height: 869px;
  background-image: url("https://static.wixstatic.com/media/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.jpg/v1/fill/w_317,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.secondmain .threeimgs .third div {
  width: 100%;
  height: 300px;
  margin-top: 88px;
  text-align: center;
}
.secondmain .threeimgs .third div h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 25px;
  font-family: "Cinzel", serif;
  color: #ffffff;
}
.secondmain .threeimgs .third div button {
  border: 1px solid white;
  width: 110px;
  height: 40px;
  color: white;
  background-color: transparent;
}
.secondmain .threeimgs .third div button:hover {
  background-color: #273a4e;
  transition: 0.6s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.thirdmain {
  width: 88%;
  height: 920px;
  margin: 0px auto;
  margin-top: 80px;
}
.thirdmain .banner {
  width: 100%;
  height: 884px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.thirdmain .banner .first {
  background-image: url("https://static.wixstatic.com/media/f61af8_97627769e7bd41538ecbf417234e55d9~mv2_d_4912_7360_s_4_2.jpg/v1/fill/w_595,h_884,al_b,q_85,usm_0.66_1.00_0.01/f61af8_97627769e7bd41538ecbf417234e55d9~mv2_d_4912_7360_s_4_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.thirdmain .banner .second {
  width: 100%;
  height: 884px;
  background-color: rgb(240, 243, 246);
}
.thirdmain .banner .second .text {
  width: 450px;
  height: 734px;
  margin: 0px;
  margin-left: 70px;
  margin-top: 150px;
}
.thirdmain .banner .second .text h1 {
  width: 268px;
  height: 54px;
  line-height: 1.2em;
  font-size: 40px;
  letter-spacing: 0.05em;
  color: #303131;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 20px;
}
.thirdmain .banner .second .text .firstp {
  width: 428px;
  height: 96px;
  line-height: 1.5em;
  font-size: 16px;
  color: #303131;
  font-family: "Raleway", sans-serif;
  margin-bottom: 26px;
}
.thirdmain .banner .second .text .secondp {
  width: 425px;
  height: 72px;
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 50px;
  color: #303131;
}
.thirdmain .banner .second .text .thirdp {
  width: 416px;
  height: 72px;
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 60px;
  color: #303131;
}
.thirdmain .banner .second .text .forthp {
  width: 410px;
  height: 48px;
  line-height: 1.5em;
  font-size: 16px;
  color: #303131;
}
.thirdmain .banner .second .text .firsth2 {
  width: 277px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  color: #303131;
}
.thirdmain .banner .second .text .secondh2 {
  width: 277px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  color: #303131;
}
.forthmain {
  width: 88%;
  height: 2337px;
  margin: 0px auto;
  margin-top: 80px;
}
.forthmain .books {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .books h1 {
  width: 145px;
  height: 54px;
  line-height: 1.2em;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  font-family: "Cinzel", serif;
  color: #303131;
}
.forthmain .mainsection {
  width: 100%;
  height: 2195px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 15px;
}
.forthmain .firstsection {
  width: 100%;
  height: 720px;
  background-color: #f0f3f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forthmain .firstsection .sectionN1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .firstsection .sectionN1 article {
  width: 53.95%;
  height: 300px;
}
.forthmain .firstsection .sectionN1 .N1 {
  width: 400px;
  height: 75px;
}
.forthmain .firstsection .sectionN1 .N1 h1 {
  line-height: 1.1em;
  font-size: 64px;
  margin: 0px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: #303131;
}
.forthmain .firstsection .sectionN1 .N2 {
  width: 355px;
  height: 96px;
}
.forthmain .firstsection .sectionN1 .N2 p {
  line-height: 1.5em;
  font-size: 16px;
  color: #303131;
}
.forthmain .firstsection .sectionN1 .N3 {
  width: 100px;
  height: 86px;
  display: inline-block;
}
.forthmain .firstsection .sectionN1 .N3 .pelement {
  font-family: "Cinzel", serif;
  font-size: 64px;
  letter-spacing: 0.1em;
  color: #303131;
  margin: 0px;
}
.forthmain .firstsection .sectionN1 .N3 .pelement span {
  font-size: 24px;
  color: #303131;
}
.forthmain .firstsection .sectionN1 .centerone {
  width: 355px;
  height: 86px;
  margin: 0px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forthmain .firstsection .sectionN1 .centerone button {
  border: 1px solid black;
  width: 135px;
  height: 40px;
  color: black;
  background-color: transparent;
}
.forthmain .firstsection .sectionN1 .centerone button:hover {
  background-color: #273a4e;
  color: white;
  transition: 0.5s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.forthmain .firstsection .sectionN2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .firstsection .sectionN2 .placefor {
  width: 630px;
  height: 438px;
}
.forthmain .firstsection .sectionN2 .placefor .img {
  background-repeat: no-repeat;
  background-size: cover;
}
.forthmain .secondsection {
  width: 100%;
  height: 720px;
  background-color: #f0f3f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forthmain .secondsection .sectionN1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .secondsection .sectionN1 article {
  width: 53.95%;
  height: 365px;
}
.forthmain .secondsection .sectionN1 .N1 {
  width: 400px;
  height: 150px;
}
.forthmain .secondsection .sectionN1 .N1 h1 {
  width: 350px;
  height: 140px;
  line-height: 1.1em;
  font-size: 64px;
  margin: 0px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: #303131;
}
.forthmain .secondsection .sectionN1 .N2 {
  width: 355px;
  height: 96px;
}
.forthmain .secondsection .sectionN1 .N2 p {
  line-height: 1.5em;
  font-size: 16px;
  color: #303131;
}
.forthmain .secondsection .sectionN1 .N3 {
  width: 100px;
  height: 86px;
  display: inline-block;
}
.forthmain .secondsection .sectionN1 .N3 .pelement {
  font-family: "Cinzel", serif;
  font-size: 64px;
  letter-spacing: 0.1em;
  color: #303131;
  margin: 0px;
}
.forthmain .secondsection .sectionN1 .N3 .pelement span {
  font-size: 24px;
  color: #303131;
}
.forthmain .secondsection .sectionN1 .centerone {
  width: 355px;
  height: 86px;
  margin: 0px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forthmain .secondsection .sectionN1 .centerone button {
  border: 1px solid black;
  width: 135px;
  height: 40px;
  color: black;
  background-color: transparent;
}
.forthmain .secondsection .sectionN1 .centerone button:hover {
  background-color: #273a4e;
  color: white;
  transition: 0.5s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.forthmain .secondsection .sectionN2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .secondsection .sectionN2 .placefor {
  width: 630px;
  height: 438px;
}
.forthmain .secondsection .sectionN2 .placefor .img {
  background-repeat: no-repeat;
  background-size: cover;
}
.forthmain .thirdsection {
  width: 100%;
  height: 720px;
  background-color: #f0f3f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forthmain .thirdsection .sectionN1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .thirdsection .sectionN1 article {
  width: 53.95%;
  height: 437px;
}
.forthmain .thirdsection .sectionN1 .N1 {
  width: 400px;
  height: 217px;
}
.forthmain .thirdsection .sectionN1 .N1 h1 {
  width: 350px;
  height: 217px;
  line-height: 1.1em;
  font-size: 64px;
  margin: 0px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: #303131;
}
.forthmain .thirdsection .sectionN1 .N2 {
  width: 355px;
  height: 96px;
}
.forthmain .thirdsection .sectionN1 .N2 p {
  line-height: 1.5em;
  font-size: 16px;
  color: #303131;
}
.forthmain .thirdsection .sectionN1 .N3 {
  width: 100px;
  height: 86px;
  display: inline-block;
}
.forthmain .thirdsection .sectionN1 .N3 .pelement {
  font-family: "Cinzel", serif;
  font-size: 64px;
  letter-spacing: 0.1em;
  color: #303131;
  margin: 0px;
}
.forthmain .thirdsection .sectionN1 .N3 .pelement span {
  font-size: 24px;
  color: #303131;
}
.forthmain .thirdsection .sectionN1 .centerone {
  width: 355px;
  height: 86px;
  margin: 0px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forthmain .thirdsection .sectionN1 .centerone button {
  border: 1px solid black;
  width: 135px;
  height: 40px;
  color: black;
  background-color: transparent;
}
.forthmain .thirdsection .sectionN1 .centerone button:hover {
  background-color: #273a4e;
  color: white;
  transition: 0.5s;
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.forthmain .thirdsection .sectionN2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forthmain .thirdsection .sectionN2 .placefor {
  width: 630px;
  height: 438px;
}
.forthmain .thirdsection .sectionN2 .placefor .img {
  background-repeat: no-repeat;
  background-size: cover;
}
.fifthmain {
  width: 88%;
  height: 2750px;
  margin: 0px auto;
  margin-top: 80px;
}
.fifthmain .blog {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifthmain .blog h1 {
  width: 198px;
  height: 54px;
  line-height: 1.2em;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain {
  width: 100%;
  height: 2600px;
  background-color: #f0f3f6;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.fifthmain .sectionformain .beforesections {
  width: 1070px;
  height: 100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .beforesections p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .beforesections p a {
  text-decoration: none;
  color: #303131;
}
.fifthmain .sectionformain .beforesections a {
  width: 19px;
  height: 19px;
  color: #303131;
}
.fifthmain .sectionformain .beforesections i {
  width: 12.5px;
  height: 12.5px;
  color: #303131;
}
.fifthmain .sectionformain .s1 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s1 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s1 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s1 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s1 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s1 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s1 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s1 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s1 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s1 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s1 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s1 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s1 .ss2 .textafteruser h2 {
  width: 320px;
  height: 35px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s1 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s1 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react p:hover {
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.fifthmain .sectionformain .s2 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s2 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s2 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s2 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s2 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s2 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s2 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s2 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s2 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s2 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s2 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s2 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s2 .ss2 .textafteruser h2 {
  width: 474px;
  height: 70px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s2 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s2 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.fifthmain .sectionformain .s3 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s3 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s3 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s3 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s3 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s3 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s3 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s3 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s3 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s3 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s3 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s3 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s3 .ss2 .textafteruser h2 {
  width: 474px;
  height: 35px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s3 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s3 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.fifthmain .sectionformain .s4 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s4 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s4 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s4 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s4 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s4 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s4 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s4 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s4 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s4 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s4 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s4 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s4 .ss2 .textafteruser h2 {
  width: 474px;
  height: 35px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s4 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s4 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.fifthmain .sectionformain .s5 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s5 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s5 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s5 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s5 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s5 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s5 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s5 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s5 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s5 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s5 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s5 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s5 .ss2 .textafteruser h2 {
  width: 474px;
  height: 35px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s5 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s5 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.fifthmain .sectionformain .s6 {
  width: 1070px;
  margin: 0px auto;
  padding: 0px auto;
  height: 385.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifthmain .sectionformain .s6 .ss1 {
  width: 100%;
  height: 385.5px;
}
.fifthmain .sectionformain .s6 .ss1 a {
  width: 100%;
  height: 100%;
}
.fifthmain .sectionformain .s6 .ss1 a img {
  width: 100%;
  height: 383.5px;
}
.fifthmain .sectionformain .s6 .ss2 {
  width: 546px;
  height: 383.5px;
  background-color: white;
}
.fifthmain .sectionformain .s6 .ss2 .user {
  width: 510px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.fifthmain .sectionformain .s6 .ss2 .user .flexdiv {
  width: 180px;
  height: 34px;
  display: flex;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;
}
.fifthmain .sectionformain .s6 .ss2 .user .fa-user-circle {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: grey;
  display: inline-block;
}
.fifthmain .sectionformain .s6 .ss2 .user .threedots {
  width: 19px;
  height: 19px;
}
.fifthmain .sectionformain .s6 .ss2 .user .threedots .fa-ellipsis-v {
  width: 3px;
  height: 13px;
  color: #303131;
  font-size: 14px;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle {
  width: 120px;
  height: 33px;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle .pforadmin1 {
  width: 89px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #303131;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle .pforadmin2 {
  width: 40px;
  height: 16px;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle ul {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle ul li {
  width: 18px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle ul li::marker {
  font-size: 6px;
  color: #303131;
}
.fifthmain .sectionformain .s6 .ss2 .user .forstyle .pforadmin3 {
  width: 45px;
  height: 16px;
  margin: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #303131;
  display: inline-block;
}
.fifthmain .sectionformain .s6 .ss2 .textafteruser {
  width: 472px;
  height: 247px;
}
.fifthmain .sectionformain .s6 .ss2 .textafteruser h2 {
  width: 474px;
  height: 35px;
  font-size: 28px;
  font-weight: 200;
  margin: 15px 0px;
  margin-left: 30px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.fifthmain .sectionformain .s6 .ss2 .textafteruser p {
  font-size: 16px;
  font-weight: 400;
  color: #303131;
  margin-left: 30px;
}
.fifthmain .sectionformain .s6 .ss2 .line {
  width: 474px;
  height: 1px;
  margin: 0px auto;
  margin-top: 12px;
  border-bottom: 1px solid #303131;
}
.fifthmain .sectionformain .viewcenter {
  width: 474px;
  height: 18px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthmain .sectionformain .viewcenter .views {
  width: 150px;
  height: 18px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.fifthmain .sectionformain .viewcenter .views p {
  width: 60px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  display: inline-block;
}
.fifthmain .sectionformain .viewcenter .views a {
  width: 60;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}
.fifthmain .sectionformain .react {
  width: 50px;
  height: 18px;
  margin-top: 22px;
}
.fifthmain .sectionformain .react p {
  font-size: 12px;
  width: 15px;
  height: 18px;
  font-size: 12px;
  color: #303131;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 2px;
  display: inline-block;
}
.fifthmain .sectionformain .react i {
  width: 20px;
  height: 18px;
  font-size: 16px;
  color: #e84a43;
  margin: 0px;
}
.sixthmain {
  width: 88%;
  height: 523px;
  margin: 0px auto;
  margin-top: 80px;
}
.sixthmain .album {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixthmain .album h1 {
  width: 416px;
  height: 48px;
  line-height: 1.2em;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  font-family: "Cinzel", serif;
  color: #303131;
}
.sixthmain .bookssection {
  width: 100%;
  height: 389px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.sixthmain .bookssection .photo1 {
  width: 100%;
  height: 389px;
  background-image: url("https://static.wixstatic.com/media/8bb438_391be5ba664646cf85efa862bf2f93be~mv2.jpg/v1/fill/w_400,h_400,fp_0.50_0.50,q_90,usm_1.00_0.66_0.01/8bb438_391be5ba664646cf85efa862bf2f93be~mv2.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1cm46YXBwOjZiZTRmNGFmMjAzOTQwOTVhZDY5Y2NjMzk4ODkyYzhkIiwib2JqIjpbW3sicGF0aCI6Ii9tZWRpYS84YmI0MzhfMzkxYmU1YmE2NjQ2NDZjZjg1ZWZhODYyYmYyZjkzYmV-bXYyLmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sImlzcyI6InVybjphcHA6NmJlNGY0YWYyMDM5NDA5NWFkNjljY2MzOTg4OTJjOGQiLCJpYXQiOjEwMDAsImp0aSI6IjE2NDA5OTUyMDAiLCJleHAiOjE2NDA5OTUyMDAsIndtayI6eyJwYXRoIjoiL21lZGlhLzhiYjQzOF8zOWE3OGI0NmQ0ZmU0NzA2OWRhNjNkYTkzNDhiNGVlNX5tdjIucG5nIiwib3BhY2l0eSI6MSwicHJvcG9ydGlvbnMiOjAuMSwiZ3Jhdml0eSI6Im5vcnRoLXdlc3QifX0.4oa9c_WgOqRVJhUPg0nRenxG3cZGpfgBuKbF_W8l8Uk");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}
.sixthmain .bookssection .photo1 div {
  width: 70%;
  height: 40%;
}
.sixthmain .bookssection .photo1 h1 {
  text-align: center;
  line-height: 1.4em;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
  color: white;
}
.sixthmain .bookssection .photo1 p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.sixthmain .bookssection .photo2 {
  width: 100%;
  height: 389px;
  background-image: url("https://static.wixstatic.com/media/8bb438_46776c5ebdfa4c2d93f77358e5b2fd41~mv2.jpg/v1/fill/w_400,h_400,fp_0.50_0.50,q_90,usm_1.00_0.66_0.01/8bb438_46776c5ebdfa4c2d93f77358e5b2fd41~mv2.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1cm46YXBwOjZiZTRmNGFmMjAzOTQwOTVhZDY5Y2NjMzk4ODkyYzhkIiwib2JqIjpbW3sicGF0aCI6Ii9tZWRpYS84YmI0MzhfNDY3NzZjNWViZGZhNGMyZDkzZjc3MzU4ZTViMmZkNDF-bXYyLmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sImlzcyI6InVybjphcHA6NmJlNGY0YWYyMDM5NDA5NWFkNjljY2MzOTg4OTJjOGQiLCJpYXQiOjEwMDAsImp0aSI6IjE2NDA5OTUyMDAiLCJleHAiOjE2NDA5OTUyMDAsIndtayI6eyJwYXRoIjoiL21lZGlhLzhiYjQzOF8zOWE3OGI0NmQ0ZmU0NzA2OWRhNjNkYTkzNDhiNGVlNX5tdjIucG5nIiwib3BhY2l0eSI6MSwicHJvcG9ydGlvbnMiOjAuMSwiZ3Jhdml0eSI6Im5vcnRoLXdlc3QifX0.BtBNdQY-SrviZPU9yPupK5OcEZcNIh4JZZGcTPYJQH0");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}
.sixthmain .bookssection .photo2 div {
  width: 85%;
  height: 40%;
}
.sixthmain .bookssection .photo2 h1 {
  text-align: center;
  line-height: 1.4em;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
  color: white;
}
.sixthmain .bookssection .photo2 p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.sixthmain .bookssection .photo3 {
  width: 100%;
  height: 389px;
  background-image: url("https://static.wixstatic.com/media/8bb438_5571b62b21074416a94a6e7cb48567e8~mv2.jpg/v1/fill/w_400,h_400,fp_0.50_0.50,q_90,usm_1.00_0.66_0.01/8bb438_5571b62b21074416a94a6e7cb48567e8~mv2.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1cm46YXBwOjZiZTRmNGFmMjAzOTQwOTVhZDY5Y2NjMzk4ODkyYzhkIiwib2JqIjpbW3sicGF0aCI6Ii9tZWRpYS84YmI0MzhfNTU3MWI2MmIyMTA3NDQxNmE5NGE2ZTdjYjQ4NTY3ZTh-bXYyLmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sImlzcyI6InVybjphcHA6NmJlNGY0YWYyMDM5NDA5NWFkNjljY2MzOTg4OTJjOGQiLCJpYXQiOjEwMDAsImp0aSI6IjE2NDA5OTUyMDAiLCJleHAiOjE2NDA5OTUyMDAsIndtayI6eyJwYXRoIjoiL21lZGlhLzhiYjQzOF8zOWE3OGI0NmQ0ZmU0NzA2OWRhNjNkYTkzNDhiNGVlNX5tdjIucG5nIiwib3BhY2l0eSI6MSwicHJvcG9ydGlvbnMiOjAuMSwiZ3Jhdml0eSI6Im5vcnRoLXdlc3QifX0.zs7rynap1TB9nWzYQWeN9kQl_x4ejE1hYsNLuzcf7MM");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}
.sixthmain .bookssection .photo3 div {
  width: 85%;
  height: 40%;
}
.sixthmain .bookssection .photo3 h1 {
  text-align: center;
  line-height: 1.4em;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 200;
  margin: 0px;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
  color: white;
}
.sixthmain .bookssection .photo3 p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.seventhmain {
  width: 88%;
  height: 1138px;
  margin: 0px auto;
  margin-top: 80px;
}
.seventhmain .contact {
  width: 100%;
  height: 1118px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.seventhmain .contact .first {
  width: 100%;
  height: 1118px;
}
.seventhmain .contact .first .bannerphoto {
  width: 100%;
  height: 1118px;
  background-image: url("https://static.wixstatic.com/media/f61af8_bed971a2eea0451d8a185669c2cbe5c7~mv2.jpg/v1/fill/w_605,h_1118,al_c,q_85,usm_0.66_1.00_0.01/f61af8_bed971a2eea0451d8a185669c2cbe5c7~mv2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.seventhmain .contact .second {
  width: 100%;
  height: 1118px;
  background-color: #f0f3f6;
}
.seventhmain .contact .second .text {
  width: 100%;
  height: 275px;
  margin-left: 59px;
  margin-top: 150px;
}
.seventhmain .contact .second .text h1 {
  width: 320px;
  height: 54px;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 33px;
  font-family: "Cinzel", serif;
  color: #303131;
}
.seventhmain .contact .second .text .firstp {
  width: 369px;
  height: 72px;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 55px;
  color: #303131;
}
.seventhmain .contact .second .text .secondp {
  width: 379px;
  height: 24px;
  margin: 0px;
  font-size: 16px;
  color: #303131;
}
.seventhmain .contact .second .text .secondp a {
  text-decoration: none;
  font-size: 16px;
  color: #303131;
  margin-left: 5px;
}
#firstform {
  width: 394px;
  height: 55;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-bottom: 10px;
}
#firstform .name {
  width: 379px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}
#firstform label {
  display: inline-block;
  width: 379px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
  padding: 0px 20px 0px 0px;
}
#firstname {
  width: 100%;
  box-sizing: border-box;
  height: 33px;
  padding: 3px 3px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#firstname:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#firstname:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
#secondform {
  width: 394px;
  height: 55;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#secondform .name {
  width: 379px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}
#secondform label {
  display: inline-block;
  width: 379px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
  padding: 0px 20px 0px 0px;
}
#lastname {
  width: 100%;
  box-sizing: border-box;
  height: 33px;
  padding: 3px 3px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#lastname:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#lastname:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
#thirdform {
  width: 394px;
  height: 55;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#thirdform .name {
  width: 379px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}
#thirdform label {
  display: inline-block;
  width: 379px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
  padding: 0px 20px 0px 0px;
}
#Email {
  width: 100%;
  box-sizing: border-box;
  height: 33px;
  padding: 3px 3px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#Email:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#Email:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
#forthform {
  width: 394px;
  height: 55;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#forthform .name {
  width: 379px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}
#forthform label {
  display: inline-block;
  width: 379px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
  padding: 0px 20px 0px 0px;
}
#Subject {
  width: 100%;
  box-sizing: border-box;
  height: 33px;
  padding: 3px 3px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#Subject:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#Subject:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
#fifthform {
  width: 394px;
  height: 148px;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#fifthform .name {
  width: 379px;
  height: 126px;
  margin: 0px;
  padding: 0px;
}
#fifthform label {
  display: inline-block;
  width: 379px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
  padding: 0px 20px 0px 0px;
}
#Message {
  width: 100%;
  box-sizing: border-box;
  height: 126px;
  min-height: 126px;
  max-height: 126px;
  min-width: 100%;
  max-width: 100%;
  padding: 10.5px 10px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#Message:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#Message:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
.seventhmain .second .button {
  width: 379px;
  height: 33px;
  margin-left: 59px;
  margin-bottom: 55px;
}
.seventhmain .second .button button {
  width: 102px;
  height: 33px;
  font-size: 16px;
  color: white;
  background-color: #273a4e;
  float: right;
}
.seventhmain .second .button button:hover {
  background-color: darkslategray;
  transition: 0.4s;
}
.seventhmain .second p {
  width: 378px;
  height: 22.5px;
  font-size: 16px;
  color: #303131;
  margin-left: 59px;
}
#sixthform {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 380px;
  height: 55;
  background-color: #f0f3f6;
  margin-left: 59px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#sixthform .centerone {
  width: 240px;
}
#sixthform .name {
  width: 238px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}
#sixthform label {
  display: inline-block;
  width: 238px;
  height: 16px;
  font-size: 16px;
  color: #303131;
  margin: 0px 0px 6px;
}
#email {
  width: 100%;
  box-sizing: border-box;
  height: 33px;
  padding: 3px 3px 3px 12px;
  background-color: #f0f3f6;
  border: 1px solid rgba(49, 48, 48, 0.55);
}
#email:focus {
  outline: rgba(49, 48, 48, 0.55);
}
#email:hover {
  border: 3px solid rgba(49, 48, 48, 0.55);
}
.seventhmain .second #sixthform .lastbutton {
  width: 133px;
  height: 33px;
  font-size: 16px;
  color: white;
  background-color: #273a4e;
}
.seventhmain .second #sixthform .lastbutton:hover {
  background-color: darkslategray;
  transition: 0.4s;
}
